* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 320px;
  max-width: 1300px;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  background-color: #e5e5f9;
}

.header {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  text-align: center;
  font-size: 12px;
}

.instruction {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  text-align: center;
  padding-top: 0.5%;
}

.instruction__button {
  padding: 5px;
  height: 80%;
  text-transform: uppercase;
}

.map-container {
  height: 280px;
  overflow: hidden;
}

.map-container__map {
  height: 100%;
  width: 100%;
}

.countries {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  font-size: 20px;
}

.countries__finded {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.countries__finded--active {
  border: 1px solid black;
  height: 100px;
}

.countries__finded .single-country {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border: 1px solid black;
}

.countries__visited, .countries .visitedCountries {
  width: 100%;
  text-align: center;
  display: none;
}

.countries__visited__title, .countries .visitedCountries__title {
  font-size: 25px;
}

.countries__visited__container, .countries .visitedCountries__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: block;
}

.countries__visited__container .visitedCountries__continent, .countries .visitedCountries__container .visitedCountries__continent {
  display: none;
}

.countries__visited__container .visitedCountries__continent .visitedCountries__continentName, .countries .visitedCountries__container .visitedCountries__continent .visitedCountries__continentName {
  font-size: 20px;
}

.countries__visited__container .visitedCountries__continent .visitedCountries__wrapper, .countries .visitedCountries__container .visitedCountries__continent .visitedCountries__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.countries__visited__container .visitedCountries__continent .visitedCountries__wrapper .visitedCountries__single, .countries .visitedCountries__container .visitedCountries__continent .visitedCountries__wrapper .visitedCountries__single {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.countries__visited__container .visitedCountries__continent--active, .countries .visitedCountries__container .visitedCountries__continent--active {
  display: block;
}

.countries__visited--active, .countries .visitedCountries--active {
  display: block;
}

@media only screen and (min-width: 576px) {
  .map-container {
    height: 350px;
  }
}

@media only screen and (min-width: 768px) {
  .map-container {
    height: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .map-container {
    height: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    font-size: 18px;
  }
  .map-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
/*# sourceMappingURL=style.css.map */