* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 320px;
  max-width: 1300px;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.main {
  min-height: 100vh;
  background-color: #e5e5f9;
}

.header {
  height: 90px;
  text-align: center;
}

.header__title {
  font-size: 20px;
}

.header__counted-visited {
  margin-top: 5px;
  font-size: 15px;
  font-weight: normal;
}

.header__counted-visited--number {
  font-weight: bold;
}

.instruction {
  -ms-flex-preferred-size: 40px;
      flex-basis: 40px;
  text-align: center;
  position: relative;
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
}

.instruction--active {
  -ms-flex-preferred-size: 240px;
      flex-basis: 240px;
}

.instruction__button {
  padding: 5px;
  height: 30px;
  font-size: 18px;
  margin-top: 5px;
  border: 1px solid white;
  background-color: black;
  color: white;
}

.instruction__button:hover {
  color: orange;
  border: 1px solid orange;
}

.instruction__countryList {
  position: absolute;
  height: 16px;
  right: 10px;
  top: 12px;
}

.instruction__countryListContainer {
  position: absolute;
  top: 42px;
  right: 0;
  width: 0px;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}

.instruction .countryListContainer--active {
  height: 80vh;
  width: 155px;
  z-index: 9999;
  border: 1px solid black;
  background-color: white;
}

.instruction .countryListContainer__icon {
  position: absolute;
  height: 20px;
  width: 20px;
  top: -10px;
  left: -10px;
  color: red;
  display: none;
}

.instruction .countryListContainer__icon--active {
  display: block;
}

.instruction .countryListContainer__countries {
  width: 100%;
  font-size: 13px;
  height: 100%;
  overflow: scroll;
  text-align: center;
}

.instruction .instruction__content-container {
  display: none;
  width: 95%;
  height: 240px;
  margin: 5px auto 0 auto;
  border: 1px solid black;
  text-align: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.instruction .instruction__content-container--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.instruction .instruction__content-container .instruction__single-item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  overflow: hidden;
  font-size: 10px;
  position: relative;
  height: 80px;
}

.instruction .instruction__content-container .instruction__single-item--bigger {
  height: 160px;
}

.instruction .instruction__content-container .instruction__single-item .item__icon {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 15px;
  width: 15px;
  font-size: 15px;
}

.instruction .instruction__content-container .instruction__single-item .item__content {
  position: absolute;
  top: 2px;
  left: 20px;
  height: 100%;
  width: 85%;
}

.map-container {
  height: 280px;
  overflow: hidden;
}

.map-container__map {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.countries {
  text-align: center;
}

.countries__form {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-top: 5px;
}

.countries__form .countries__search-label {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.countries__form .countries__search {
  width: 46%;
  margin: 2px;
}

.countries__form .countries__search::-webkit-input-placeholder {
  font-size: 12px;
}

.countries__form .countries__search:-ms-input-placeholder {
  font-size: 12px;
}

.countries__form .countries__search::-ms-input-placeholder {
  font-size: 12px;
}

.countries__form .countries__search::placeholder {
  font-size: 12px;
}

.countries__form .coutries__searching-type {
  width: 34%;
  margin: 2px;
  font-size: 12px;
}

.countries__finded {
  width: 80%;
  margin: 5px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.countries__finded .single-country {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border: 1px solid black;
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 66px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.countries__finded .single-country__flag {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  height: 50px;
  overflow: hidden;
}

.countries__finded .single-country__name {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 20px;
}

.countries__visited, .countries .visitedCountries {
  width: 100%;
  text-align: center;
  display: none;
}

.countries__visited__title, .countries .visitedCountries__title {
  font-size: 25px;
}

.countries__visited__container, .countries .visitedCountries__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: block;
}

.countries__visited__container .visitedCountries__continent, .countries .visitedCountries__container .visitedCountries__continent {
  display: none;
}

.countries__visited__container .visitedCountries__continent .visitedCountries__continentName, .countries .visitedCountries__container .visitedCountries__continent .visitedCountries__continentName {
  font-size: 18px;
}

.countries__visited__container .visitedCountries__continent .visitedCountries__wrapper, .countries .visitedCountries__container .visitedCountries__continent .visitedCountries__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.countries__visited__container .visitedCountries__continent .visitedCountries__wrapper .visitedCountries__single, .countries .visitedCountries__container .visitedCountries__continent .visitedCountries__wrapper .visitedCountries__single {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.countries__visited__container .visitedCountries__continent .visitedCountries__wrapper .singleCountryContinent__container, .countries .visitedCountries__container .visitedCountries__continent .visitedCountries__wrapper .singleCountryContinent__container {
  border: 1px solid black;
  -ms-flex-preferred-size: calc(33% - 10px);
      flex-basis: calc(33% - 10px);
  margin: 5px;
  height: 120px;
}

.countries__visited__container .visitedCountries__continent .visitedCountries__wrapper .singleCountryContinent__container .singleCountryContinent__flag, .countries .visitedCountries__container .visitedCountries__continent .visitedCountries__wrapper .singleCountryContinent__container .singleCountryContinent__flag {
  width: 64px;
  height: 64px;
}

.countries__visited__container .visitedCountries__continent .visitedCountries__wrapper .singleCountryContinent__container .singleCountryContinent__name, .countries .visitedCountries__container .visitedCountries__continent .visitedCountries__wrapper .singleCountryContinent__container .singleCountryContinent__name {
  font-size: 14px;
}

.countries__visited__container .visitedCountries__continent--active, .countries .visitedCountries__container .visitedCountries__continent--active {
  display: block;
}

.countries__visited--active, .countries .visitedCountries--active {
  display: block;
}

@media only screen and (min-width: 568px) {
  .instruction .instruction__content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .instruction .instruction__content-container--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .instruction .instruction__content-container .instruction__single-item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .instruction .instruction__content-container .instruction__single-item .item__icon {
    top: 5px;
    left: 5px;
    height: 25px;
    width: 25px;
    font-size: 25px;
  }
  .instruction .instruction__content-container .instruction__single-item .item__content {
    position: absolute;
    top: 2.5px;
    left: 35px;
    width: 100%;
    width: 90%;
    font-size: 11px;
  }
  .countries__form {
    width: 80%;
    margin: 5px auto 0 auto;
  }
  .countries__finded {
    width: 60%;
  }
  .map-container {
    height: 350px;
  }
}

@media (min-height: 768px) {
  .instruction .countryListContainer--active {
    height: 60vh;
  }
}

@media only screen and (min-width: 768px) {
  .instruction .instruction__content-container .instruction__single-item .item__content {
    font-size: 14px;
  }
  .map-container {
    height: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .map-container {
    height: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    font-size: 18px;
  }
  .countries__finded {
    width: 30%;
  }
  .countries__visited__container .visitedCountries__continent .visitedCountries__wrapper .singleCountryContinent__container, .countries .visitedCountries__container .visitedCountries__continent .visitedCountries__wrapper .singleCountryContinent__container {
    border: 1px solid black;
    -ms-flex-preferred-size: calc(25% - 10px);
        flex-basis: calc(25% - 10px);
    margin: 5px;
    height: 120px;
  }
  .countries__visited__container .visitedCountries__continent .visitedCountries__wrapper .singleCountryContinent__container .singleCountryContinent__flag, .countries .visitedCountries__container .visitedCountries__continent .visitedCountries__wrapper .singleCountryContinent__container .singleCountryContinent__flag {
    width: 64px;
    height: 64px;
  }
  .countries__visited__container .visitedCountries__continent .visitedCountries__wrapper .singleCountryContinent__container .singleCountryContinent__name, .countries .visitedCountries__container .visitedCountries__continent .visitedCountries__wrapper .singleCountryContinent__container .singleCountryContinent__name {
    font-size: 14px;
  }
  .countries__visited__container .visitedCountries__continent--active, .countries .visitedCountries__container .visitedCountries__continent--active {
    display: block;
  }
  .countries__visited--active, .countries .visitedCountries--active {
    display: block;
  }
  .map-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
/*# sourceMappingURL=style.css.map */